:root {
    --nav-color: darkblue;
    --padding: 15px;
    --solid-border: 1px solid black;
    --transparent-border: 1px solid rgb(0 0 0 / 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--nav-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--nav-color);
    padding: .5rem;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--solid-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: var(--padding);
}

aside {
    width: 500px;
    text-align: center;
    position: relative;
}

aside img {
    width: 300px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 200px;
}

footer {
    margin-top: 10px;
    border-top: var(--solid-border);
    text-align: center;
}

/* "Class Selectors" */
.box {
    margin: 1rem;
    border: var(--transparent-border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}